* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0;
}

header {
  position: absolute;
  width: 100%;
}

.header-wrapper {
  height: 100px;
  width: 1200px;
  margin: 0 auto;
}

header .logo {
  width: 150px;
}

header .header-wrapper .nav-wrapper {
  list-style-type: none;
}

header .navbar .nav-item {
  margin: 0 6px !important;
}

header .navbar .nav-item .nav-link {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Ropa Sans", sans-serif;
  letter-spacing: 1px;
}
header .navbar .nav-item .nav-link:hover {
  color: #17bac5;
}
header .navbar .nav-item.active .nav-link {
  color: #17bac5 !important;
}
.call-button {
  font-family: "Ropa Sans", sans-serif;
  background: transparent;
  border-radius: 23px;
  color: #fff;
  border: 1px solid #17bac5;
  box-shadow: 0 0 11px -1px #17bac5;
  font-size: 18px;
  padding: 7px 40px;
  margin-left: 2rem;
}
.call-button:hover {
  border: 1px solid #fff;
  cursor: pointer;
}

header .navbar {
  width: 1200px;
  padding: 25px 0;
}

/* main styles */

.main-banner-container {
  height: 100vh;
  background: url(./asset/mainbg.png) repeat;
  background-size: cover;
  background-color: #12488b;
}
.main-wrapper {
  width: 1200px;
  margin-top: 6rem;
}

.main-wrapper > .main-text-wrapper {
  width: 50%;
}
.main-wrapper > .main-text-wrapper .main-banner-text {
  font-size: 46px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: "Cinzel";
  text-align: left;
  margin-bottom: 4%;
}

.main-wrapper > .banner-buttons-wrapper {
  align-items: flex-end;
  position: relative;
  top: 2rem;
}
.banner-buttons-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-wrapper > .banner-buttons-wrapper .news-btn,
.main-wrapper > .banner-buttons-wrapper .contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
}
.main-wrapper > .banner-buttons-wrapper .news-btn {
  background-color: rgb(7, 83, 134);
}
.main-wrapper > .banner-buttons-wrapper .contact-btn {
  background-color: rgb(18, 179, 219);
  margin-left: -18px;
}
.main-wrapper > .banner-buttons-wrapper .news-btn > img,
.main-wrapper > .banner-buttons-wrapper .contact-btn > img {
  width: 50px;
}
.main-wrapper .banner-btn-text {
  color: #fff;
  padding-top: 6px;
}

.products-container {
  height: 700px;
  background: #0f4c81;
}
.features-wrapper {
  width: 1200px;
  height: 200px;
  align-items: center;
}
.products-container .our-products p {
  font-size: 24px;
  line-height: 44px;
  text-transform: uppercase;
  color: #3cb7d8;
  font-weight: 400;
  font-family: "Cinzel";
}
.products-container .our-products h3 {
  font-size: 34px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: "Cinzel";
}
.products-container .features-list {
  flex-wrap: wrap;
  row-gap: 1.5rem;
  column-gap: 2rem;
  margin-top: 4rem;
}
.products-container .our-products {
  width: 40%;
}
.products-container .features-list > li {
  list-style-type: none;
  gap: 10px;
}
.products-container .features-list > li .product-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #3cb7d8;
}
.products-container .features-list > li .product-icon-box > img {
  width: 56%;
  height: auto;
  filter: invert(1);
}
.products-container .features-list > li > span {
  width: 150px;
  font-family: "Poppins";
  font-size: 15px;
  color: #fff;
  line-height: 23px;
  font-weight: 300;
}
.products-container .return-wrapper {
  width: 1200px;
  margin-top: 5rem;
}
.products-container .return-wrapper .left-chart {
  width: 60%;
}
.products-container .return-wrapper .left-chart .level-one {
  width: 300px;
  height: 300px;
  background-color: #002f5885;
  border-radius: 50%;
}
.products-container .return-wrapper .left-chart .level-one .level-two {
  width: 220px;
  height: 220px;
  background-color: #092f5875;
  border-radius: 50%;
}
.products-container
  .return-wrapper
  .left-chart
  .level-one
  .level-two
  .level-three {
  width: 150px;
  height: 150px;
  background-color: #042f5cc4;
  border-radius: 50%;
}
.products-container
  .return-wrapper
  .left-chart
  .level-one
  .level-two
  .level-three
  .level-four {
  width: 100px;
  height: 100px;
  background-color: #153456;
  border-radius: 50%;
}

.right-return-text {
  position: relative;
}
.right-return-text .right-text-top {
  margin-left: 1.5rem;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
  font-family: "Poppins";
}
.right-return-text .right-text-title {
  font-size: 42px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "Cinzel";
  margin-top: 1rem;
}
.right-return-text .right-text-desc {
  width: 485px;
  height: 42px;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Poppins";
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.products-container .return-wrapper .left-chart {
  position: relative;
}
.line-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
}
.line-text-wrapper-1 {
  top: 30px;
  left: 12rem;
}
.line-text-wrapper-2 {
  top: 4rem;
  left: 13rem;
}
.line-text-wrapper-3 {
  top: 6.3rem;
  left: 14rem;
}
.line-text-wrapper-4 {
  top: 8.7rem;
  left: 14rem;
}
.line-text-wrapper-5 {
  top: 11rem;
  left: 13rem;
}
.line-text-wrapper-6 {
  top: 13.5rem;
  left: 12rem;
}
.line-wrapper .dot {
  width: 10px;
  height: 10px;
  background-color: rgb(0, 187, 255);
  border-radius: 50%;
}
.line-wrapper .line {
  width: 80px;
  height: 2px;
  background-color: rgb(0, 187, 255);
}
.line-wrapper .line-text {
  font-size: 17px;
  line-height: 48px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 15px;
}
.hr-line {
  width: 3%;
  top: 2px;
  position: absolute;
  background-color: #fff;
}

.about-image {
  border-radius: 50%;
  height: 400px;
  width: 400px;
}

.follow-us-line {
  background-color: #0f4c81;
  height: 2px;
  width: 50px;
  margin-left: 6px;
}

.footer-container {
  height: 400px;
  display: flex;
}
.footer-contact-wrapper {
  margin: 10px;
}
.footer-contact-wrapper > p {
  font-size: 16px;
}

.circle-one,
.circle-two {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding: 20px !important;
}
.circle-one {
  background-color: #3cb7d8;
}
.circle-two {
  background-color: #0f4c81;
}

.circle-img {
  width: 60px;
  height: 60px;
  filter: invert(1);
}

.about-breaker {
  margin-top: 2rem;
}

.socials-icons {
  padding: 10px;
  border-radius: 99%;
  width: 40px;
  height: 40px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.socials-icons img {
  filter: brightness(100%) invert(100%);
}

.socials-icons:nth-child(1) {
  background-color: #153456;
}

.socials-icons:nth-child(2) {
  background-color: #17bac5;
  margin-left: 10px;
}

.socials-icons:nth-child(3) {
  background-color: #153456;
  margin-left: 10px;
}

ul {
  list-style: none;
}

ul .list-items {
  margin-bottom: 10px;
  cursor: pointer;
}

ul .list-items a {
  text-decoration: none;
  color: black;
}

.contact-icon {
  width: 40px;
  height: 40px;
  border-radius: 99%;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon img {
  filter: brightness(100%) invert(100%);
}

.contact-icon:nth-child(1) {
  background-color: #17bac5;
}

.contact-icon:nth-child(2) {
  background-color: #12488b;
}
.about-container {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 6rem !important;
}
.about-title {
  font-size: 42px;
  line-height: 44px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  font-family: "Cinzel";
}

.footer {
  background-color: #edededad;
  position: absolute;
  width: 100%;
}

/* responsive styles */

@media (max-width: 1200px) {
  header .navbar {
    width: 95%;
  }
  header .navbar .nav-item {
    margin: 0 !important;
  }
  header .navbar .nav-item .nav-link {
    font-size: 16px;
  }
  .main-wrapper .call-button {
    padding: 10px 47px;
    margin-left: 1rem;
    font-size: 18px;
  }
  .main-wrapper {
    width: 95%;
    margin-top: 2rem;
  }
  .main-wrapper > .banner-buttons-wrapper {
    top: 6rem;
  }
  .features-wrapper {
    width: 95%;
    flex-direction: column;
  }
  .products-container {
    height: 1000px;
  }
  .products-container .features-list {
    margin-top: 2rem;
    justify-content: center;
  }
  .products-container .our-products {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
  .products-container .return-wrapper {
    width: 95%;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
  }
  .products-container .return-wrapper .left-chart {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .right-return-text {
    text-align: center;
    margin-top: 2rem;
  }
  .right-return-text .right-text-top {
    justify-content: center;
  }
  .hr-line {
    left: 116px;
  }
  .line-wrapper {
    left: 25rem;
    display: none;
  }
  .about-container {
    width: 95%;
    margin: 2rem auto;
  }
  .footer {
    height: 100%;
  }
  .social-wrapper {
    position: absolute;
  }
}
@media (max-width: 990px) {
  .navbar-light .navbar-toggler {
    border-color: #fff;
  }
  .navbar-light .navbar-toggler-icon {
    filter: invert(1);
  }
  .navbar-collapse {
    width: 100%;
    position: absolute;
    max-width: 100%;
    left: 0px;
    padding: 33px 0;
    backdrop-filter: blur(10px);
  }
  header .navbar .nav-item {
    margin: 0 !important;
  }
  header .navbar .nav-item .nav-link {
    font-size: 16px;
  }
  header .navbar .nav-item .nav-link {
    font-size: 18px;
  }
  .about-container {
    padding-bottom: 2rem !important;
  }
  .call-button {
    font-size: 18px;
    padding: 7px 40px;
    margin-left: 0;
  }

  .main-wrapper > .main-text-wrapper {
    width: 60%;
  }
  .main-wrapper > .main-text-wrapper .main-banner-text {
    font-size: 32px;
    line-height: 43px;
  }
  .about-desc-wrapper {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .about-desc-wrapper > img {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
  .text-about-wrapper {
    width: 100% !important;
    margin-top: 2rem;
  }

  .footer-ul {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .follow-wrapper {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .main-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .main-wrapper > .main-text-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main-wrapper > .main-text-wrapper .main-banner-text {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
  }
  .products-container .return-wrapper .left-chart .level-one {
    display: none;
  }
  .right-return-text {
    margin-top: 6rem;
  }
  .products-container {
    height: 800px;
  }
}
@media (max-width: 528px) {
  .hr-line {
    display: none;
  }
  .right-return-text {
    margin-top: 16rem;
  }
  .products-container .features-list > li {
    gap: 50px;
  }
  .products-container {
    height: 1000px;
  }
  .right-return-text .right-text-desc {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: 1rem;
  }
}
@media (max-width: 528px) {
  .right-return-text {
    margin-top: 20rem;
  }
}
